In [33]:
from univariate import univariate
#obj=univariate()

In [34]:
import pandas as pd
dataset=pd.read_csv("placement.csv")
print(dataset)

     sl_no  gender  ssc_p   ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1  female  67.00  others     99  central  commerce      76.0
1        2  female  45.00  others     95  central  commerce      84.0
2        3  female  88.00  others     86  central  commerce      79.0
3        4  female  88.00  others     89  central  commerce      86.0
4        5  female  44.99  others     89  central  commerce      45.0
..     ...     ...    ...     ...    ...      ...       ...       ...
100    101    male  79.00  others     45   others  commerce      56.0
101    102    male  86.00  others     37   others  commerce      86.0
102    103    male  45.00  others     95   others  commerce      89.0
103    104    male  37.00  others     86   others      Arts      89.0
104    105    male  78.00  others     89   others      Arts      76.0

      degree_t workex  etest_p specialisation  mba_p      status  salary
0     sci&tech     no     25.0         mkt&hr   76.0      placed   25262
1     sci&tech    yes     52.0         mkt&hr   84.0  not placed   50000
2     sci&tech     no     95.0         mkt&hr   79.0      placed   50000
3     sci&tech    yes     86.0         mkt&hr   86.0  not placed   60000
4     sci&tech     no     89.0         mkt&hr   45.0      placed   50000
..         ...    ...      ...            ...    ...         ...     ...
100  comm&mgmt    yes     86.0        mkt&fin   86.0  not placed   25262
101  comm&mgmt    yes     45.0         mkt&hr   45.0  not placed   50000
102  comm&mgmt    yes     37.0        mkt&fin   37.0  not placed   50000
103  comm&mgmt    yes     51.0         mkt&hr   79.0  not placed   60000
104  comm&mgmt    yes     75.0        mkt&fin   86.0  not placed   50000

[105 rows x 15 columns]

In [37]:
quan,qual=univariate.quanQual(dataset)

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary