In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataset=pd.read_csv("vehicle_maintenance_data.csv")
print(dataset)

      Vehicle_Model  Mileage Maintenance_History  Reported_Issues  \
0             Truck    58765                Good                0
1               Van    60353             Average                1
2               Bus    68072                Poor                0
3               Bus    60849             Average                4
4               Bus    45742                Poor                5
...             ...      ...                 ...              ...
49995           Car    77229                Good                3
49996         Truck    54742                Good                4
49997           Van    75601                Poor                0
49998           Car    66181                Good                1
49999           Car    71605                Poor                0

       Vehicle_Age Fuel_Type Transmission_Type  Engine_Size  Odometer_Reading  \
0                4  Electric         Automatic         2000             28524
1                7  Electric         Automatic         2500            133630
2                2  Electric         Automatic         1500             34022
3                5    Petrol         Automatic         2500             81636
4                1    Petrol            Manual         2000             97162
...            ...       ...               ...          ...               ...
49995            6    Diesel         Automatic         2500             97404
49996            4    Diesel            Manual          800             13421
49997            4  Electric         Automatic         1500            124851
49998            7  Electric            Manual         2500            103182
49999           10    Petrol            Manual         2000             65721

      Last_Service_Date Warranty_Expiry_Date Owner_Type  Insurance_Premium  \
0            2023-11-23           2025-06-24     Second              20782
1            2023-09-21           2025-06-04     Second              23489
2            2023-06-27           2025-04-27      First              17979
3            2023-08-24           2025-11-05     Second               6220
4            2023-05-25           2025-09-14      Third              16446
...                 ...                  ...        ...                ...
49995        2023-11-24           2025-09-15      Third               5217
49996        2023-07-14           2025-01-21     Second              15856
49997        2023-09-09           2024-11-09      First               6019
49998        2023-08-26           2025-05-22      Third               5030
49999        2023-07-25           2024-06-06      Third               9171

       Service_History  Accident_History  Fuel_Efficiency Tire_Condition  \
0                    6                 3        13.622204            New
1                    7                 0        13.625307            New
2                    7                 0        14.306302            New
3                    7                 3        18.709467            New
4                    6                 2        16.977482           Good
...                ...               ...              ...            ...
49995                4                 1        10.357298            New
49996                4                 1        14.924022       Worn Out
49997               10                 0        19.859243       Worn Out
49998                4                 3        10.720555            New
49999                6                 3        16.328945           Good

      Brake_Condition Battery_Status  Need_Maintenance
0                 New           Weak                 1
1                 New           Weak                 1
2                Good           Weak                 1
3            Worn Out            New                 1
4                Good           Weak                 1
...               ...            ...               ...
49995            Good           Weak                 1
49996             New           Good                 1
49997        Worn Out           Weak                 1
49998            Good           Weak                 1
49999             New           Good                 0

[50000 rows x 20 columns]

In [4]:
def selectkbest(indep_X,dep_Y,n):
        test = SelectKBest(score_func=chi2, k=n)
        fit1= test.fit(indep_X,dep_Y)
        selectk_features = fit1.transform(indep_X)
        return selectk_features

In [5]:
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test

In [6]:
def cm_prediction(classifier,X_test):
     y_pred = classifier.predict(X_test)
        
        # Making the Confusion Matrix
     from sklearn.metrics import confusion_matrix
     cm = confusion_matrix(y_test, y_pred)
        
     from sklearn.metrics import accuracy_score 
     from sklearn.metrics import classification_report 
        #from sklearn.metrics import confusion_matrix
        #cm = confusion_matrix(y_test, y_pred)
        
     Accuracy=accuracy_score(y_test, y_pred )
        
     report=classification_report(y_test, y_pred)
     return  classifier,Accuracy,report,X_test,y_test,cm

In [7]:
def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm

In [8]:
def selectk_Classification(accrf): 
    
    dataframe=pd.DataFrame(index=['ChiSquare'],columns=['Random'])
    for number,idex in enumerate(dataframe.index):      
        dataframe['Random'][idex]=accrf[number]
    return dataframe

In [9]:
dataset1=pd.read_csv("vehicle_maintenance_data.csv",index_col=None)

In [10]:
df2=dataset1

In [11]:
df2 = pd.get_dummies(df2, drop_first=True)
df2

,Mileage,Reported_Issues,Vehicle_Age,Engine_Size,Odometer_Reading,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Need_Maintenance,...,Warranty_Expiry_Date_2026-03-28,Warranty_Expiry_Date_2026-03-29,Owner_Type_Second,Owner_Type_Third,Tire_Condition_New,Tire_Condition_Worn Out,Brake_Condition_New,Brake_Condition_Worn Out,Battery_Status_New,Battery_Status_Weak
0,58765,0,4,2000,28524,20782,6,3,13.622204,1,...,False,False,True,False,True,False,True,False,False,True
1,60353,1,7,2500,133630,23489,7,0,13.625307,1,...,False,False,True,False,True,False,True,False,False,True
2,68072,0,2,1500,34022,17979,7,0,14.306302,1,...,False,False,False,False,True,False,False,False,False,True
3,60849,4,5,2500,81636,6220,7,3,18.709467,1,...,False,False,True,False,True,False,False,True,True,False
4,45742,5,1,2000,97162,16446,6,2,16.977482,1,...,False,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,77229,3,6,2500,97404,5217,4,1,10.357298,1,...,False,False,False,True,True,False,False,False,False,True
49996,54742,4,4,800,13421,15856,4,1,14.924022,1,...,False,False,True,False,False,True,True,False,False,False
49997,75601,0,4,1500,124851,6019,10,0,19.859243,1,...,False,False,False,False,False,True,False,True,False,True
49998,66181,1,7,2500,103182,5030,4,3,10.720555,1,...,False,False,False,True,True,False,False,False,False,True
49999,71605,0,10,2000,65721,9171,6,3,16.328945,0,...,False,False,False,True,False,False,True,False,False,False

In [12]:
indep_X=df2.drop('Need_Maintenance',axis=1)
dep_Y=df2['Need_Maintenance']
df2

,Mileage,Reported_Issues,Vehicle_Age,Engine_Size,Odometer_Reading,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Need_Maintenance,...,Warranty_Expiry_Date_2026-03-28,Warranty_Expiry_Date_2026-03-29,Owner_Type_Second,Owner_Type_Third,Tire_Condition_New,Tire_Condition_Worn Out,Brake_Condition_New,Brake_Condition_Worn Out,Battery_Status_New,Battery_Status_Weak
0,58765,0,4,2000,28524,20782,6,3,13.622204,1,...,False,False,True,False,True,False,True,False,False,True
1,60353,1,7,2500,133630,23489,7,0,13.625307,1,...,False,False,True,False,True,False,True,False,False,True
2,68072,0,2,1500,34022,17979,7,0,14.306302,1,...,False,False,False,False,True,False,False,False,False,True
3,60849,4,5,2500,81636,6220,7,3,18.709467,1,...,False,False,True,False,True,False,False,True,True,False
4,45742,5,1,2000,97162,16446,6,2,16.977482,1,...,False,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,77229,3,6,2500,97404,5217,4,1,10.357298,1,...,False,False,False,True,True,False,False,False,False,True
49996,54742,4,4,800,13421,15856,4,1,14.924022,1,...,False,False,True,False,False,True,True,False,False,False
49997,75601,0,4,1500,124851,6019,10,0,19.859243,1,...,False,False,False,False,False,True,False,True,False,True
49998,66181,1,7,2500,103182,5030,4,3,10.720555,1,...,False,False,False,True,True,False,False,False,False,True
49999,71605,0,10,2000,65721,9171,6,3,16.328945,0,...,False,False,False,True,False,False,True,False,False,False

In [13]:
indep_X

,Mileage,Reported_Issues,Vehicle_Age,Engine_Size,Odometer_Reading,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Vehicle_Model_Car,...,Warranty_Expiry_Date_2026-03-28,Warranty_Expiry_Date_2026-03-29,Owner_Type_Second,Owner_Type_Third,Tire_Condition_New,Tire_Condition_Worn Out,Brake_Condition_New,Brake_Condition_Worn Out,Battery_Status_New,Battery_Status_Weak
0,58765,0,4,2000,28524,20782,6,3,13.622204,False,...,False,False,True,False,True,False,True,False,False,True
1,60353,1,7,2500,133630,23489,7,0,13.625307,False,...,False,False,True,False,True,False,True,False,False,True
2,68072,0,2,1500,34022,17979,7,0,14.306302,False,...,False,False,False,False,True,False,False,False,False,True
3,60849,4,5,2500,81636,6220,7,3,18.709467,False,...,False,False,True,False,True,False,False,True,True,False
4,45742,5,1,2000,97162,16446,6,2,16.977482,False,...,False,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,77229,3,6,2500,97404,5217,4,1,10.357298,True,...,False,False,False,True,True,False,False,False,False,True
49996,54742,4,4,800,13421,15856,4,1,14.924022,False,...,False,False,True,False,False,True,True,False,False,False
49997,75601,0,4,1500,124851,6019,10,0,19.859243,False,...,False,False,False,False,False,True,False,True,False,True
49998,66181,1,7,2500,103182,5030,4,3,10.720555,True,...,False,False,False,True,True,False,False,False,False,True
49999,71605,0,10,2000,65721,9171,6,3,16.328945,True,...,False,False,False,True,False,False,True,False,False,False

In [14]:
dep_Y

0        1
1        1
2        1
3        1
4        1
        ..
49995    1
49996    1
49997    1
49998    1
49999    0
Name: Need_Maintenance, Length: 50000, dtype: int64

In [15]:
kbest=selectkbest(indep_X,dep_Y,3)       
accrf=[]

In [16]:
X_train, X_test, y_train, y_test=split_scalar(kbest,dep_Y)   
    
classifier,Accuracy,report,X_test,y_test,cm=random(X_train,y_train,X_test)  
accrf.append(Accuracy)
    
result=selectk_Classification(accrf)

In [17]:
result

            Random
ChiSquare  0.80416